.category__item{
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category__item:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
    z-index: 1;
}

.category__icon{
    background: var(--color-primary);
    padding: .7rem;
    border-radius: .9rem;
}
.category__item h5{
    margin: 2rem 0 1rem;
}

.category__item p{
    font-size: .85rem;
}
.category__item:nth-child(2) .category__icon{
    background: var(--color-danger);
}
.category__item:nth-child(3) .category__icon{
    background: var(--color-success);
}
.category__item:nth-child(4) .category__icon{
    background: var(--color-warning);
}
.category__item:nth-child(5) .category__icon{
    background: var(--color-success);
}