header{
    position: relative;
    top: 5rem;
    height: 70vh;
    margin-bottom: 5rem;
    overflow: hidden;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100%;
}

.header__left p{
    margin: 1rem 0 1.4rem;
}

.category{
    background: var(--color-bg1);
    height: 32rem;
}
.category h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.category__left{
    margin-right: 4rem;
}
.category__left p{
    margin-bottom: 3rem;
}

.category__container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.category__right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
}

.courses h2{
    margin-top: 10rem;
}
.courses__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}


/* ********** faq section style ************  */

.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}
.faqs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* testemonial section style  */

.testemonial__container{
    overflow: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testemonials{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}





 /* ************* media quaries for Tablet *************** */

 @media screen and (max-width:1024px) {
    .header__container{
        gap: 0;
    }
    .category{
        height: fit-content;
    }
    .category__right{
        grid-template-columns: repeat(2,1fr);
    }
    .courses h2{
        margin-top: 0;
    }
    .courses__container{
        grid-template-columns: repeat(2,1fr);
    }
    .faqs__container{
        grid-template-columns: 1fr;
    }
    .footer__container{
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
        text-align: center;
    }

    .footer__items4 .footer__icons{
        justify-content: center;
    }
 }

 @media screen and (max-width:600px) {
    .header__container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    header{
        height: 100vh;
    }
    .category__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .courses__container{
        grid-template-columns:1fr;
    }
    .faqs__container{
        grid-template-columns: 1fr;
    }
    .footer__container{
        grid-template-columns:1fr;
        gap: 2rem;
        text-align: center;
    }
 }